:root {
 --mainred: rgb(250, 0, 0);
 --lightBlue: cornflowerblue;
 --mainWhite: #f3f3f3;
 --DarkWhite: rgba(247, 247, 247, 247);
 --mainDark: #232528;
 --mainYellow: #ffa400;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
