* {
 box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
 // background: purple;
}

img {
 width: 100%;
}

.container {
 max-width: 90%;
 margin: 0 auto;
}

#header {
 padding: 20px 0;
 padding-bottom: 0;
 height: auto;
 margin-bottom: -2.5rem;

 .menu-icon {
  display: none;
 }

 .logo img {
  // display: none;
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
 }

 .menu {
  display: flex;
  justify-content: center;
  position: relative;
  top: -4rem;
  // margin: 1rem;
  // left: 577px;

  .top-nav {
   margin-top: 20px;
  }

  nav a {
   position: relative;
   display: inline-block;
   margin: 15px 25px;
   outline: none;
   color: #000;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
   font-size: 1em;
  }

  /* Effect 14: border switch */
  .cl-effect-14:not(.shopping-cart) a {
   padding: 0 20px;
   height: 45px;
   line-height: 45px;
  }

  .cl-effect-14 a::before,
  .cl-effect-14 a::after {
   position: absolute;
   width: 45px;
   height: 2px;
   background: #000;
   content: "";
   opacity: 0.2;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   pointer-events: none;
  }

  .cl-effect-14 a::before {
   top: 0;
   left: 0;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   transform: rotate(90deg);
   -webkit-transform-origin: 0 0;
   -moz-transform-origin: 0 0;
   transform-origin: 0 0;
  }

  .cl-effect-14 a::after {
   right: 0;
   bottom: 0;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   transform: rotate(90deg);
   -webkit-transform-origin: 100% 0;
   -moz-transform-origin: 100% 0;
   transform-origin: 100% 0;
  }

  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::before,
  .cl-effect-14 a:focus::after {
   opacity: 1;
  }

  .cl-effect-14 a:hover::before,
  .cl-effect-14 a:focus::before {
   left: 50%;
   -webkit-transform: rotate(0deg) translateX(-50%);
   -moz-transform: rotate(0deg) translateX(-50%);
   transform: rotate(0deg) translateX(-50%);
  }

  .cl-effect-14 a:hover::after,
  .cl-effect-14 a:focus::after {
   right: 50%;
   -webkit-transform: rotate(0deg) translateX(50%);
   -moz-transform: rotate(0deg) translateX(50%);
   transform: rotate(0deg) translateX(50%);
  }

  nav a:hover,
  nav a:focus {
   outline: none;
  }
 }

 .cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: red;
 }

 .shopping-cart {
  border: none !important;
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;
  color: #333;
  font-size: 1.5rem;
  z-index: 1;
 }
}

// Content area
.content-area {
 // margin-top: -15rem;

 .insider {
  max-width: 490px;
  margin-left: 5rem;
 }



 
 /* slide enter */ 
 .slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
 }

 .slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
 }

 /* slide exit */
 .slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
 }

 .slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
 }

 .slide-exit-done {
  opacity: 0;
 }








 .model {
  height: 100%;
  float: right;

  img {
   max-width: 500px;
   width: 100%;
  }
 }

 .info {
  // float: left;
  display: inline-block;

  h5 {
   background: #8a948e;
   text-transform: uppercase;
   font-size: 12px;
   display: inline-block;
   padding: 5px 8px;
   font-weight: 700px;
   color: white;
  }

  h1 {
   font-size: 44px;
   font-weight: 700;
   color: #000;
   line-height: 1.2;
   margin: 24px 0;
  }

  p {
   font-weight: 100px;
   line-height: 1.5;
   margin-bottom: 30px;
  }

  .size {
   margin-bottom: 30px;
   width: 34rem;
   overflow: hidden;

   .title {
    font-weight: 500;
    margin-bottom: -25px;
    font-size: 10px;
    width: 65px;
    height: 31px;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    line-height: 27px;
    border: solid 2px cornflowerblue;
    cursor: pointer;

    &:hover {
     background-color: cornflowerblue;
     color: #fff;
    }
   }

   .sizes {
    margin-left: 2.5rem;
    margin-top: -31px;
    transition: all 0.3s ease-out;
    transform: translate(-40rem, 0);

    &.sizes-initial {
     transform: translateX(0rem);
    }

    li {
     font-size: 12px;
     display: inline-block;
     border-radius: 50%;
     border: 1px solid #000;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-right: 10px;
     text-align: center;
     cursor: pointer;

     &:hover {
      background-color: cornflowerblue;
      color: #fff;
     }

     &.circle {
      height: 30px;
      width: 30px;
      padding: 10px 0;
      border: 1px solid cornflowerblue;
      box-shadow: 0px 5px 10px -3px;
     }

     &.semi-circle {
      height: 30px;
      padding: 10px 30px;
      border-radius: 30px;
      border: 1px solid cornflowerblue;
      box-shadow: 0px 5px 10px -3px;
     }
    }
   }
  }

  .action-btns {
   .red-hollow-btn {
    height: 40px;
    border: 2px solid red;
    border-radius: 50px !important;
    display: inline-block;
    // padding: 20px;
    color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    width: 45%;

    .price {
     font-size: 24px;
     margin-right: 10px;
    }
   }

   .red-hollow-btn:hover {
    color: #fff;
   }

   .lightgrey-btn {
    background-color: #fff;
    border: 2px solid cornflowerblue;
    border-radius: 50px;
    display: inline-block;
    // padding: 20px;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
    width: 45%;
    // border-radius: 35px;
    left: 25px;
    top: -8px;
    height: 40px;
   }
  }
 }

 // .mocha-icons {
 //  width: 5%;
 //  position: absolute;
 //  top: 14.5rem;
 //  right: 20px;
 //  z-index: 5;

 //  .mochas {
 //   display: flex;
 //   flex-wrap: wrap;
 //   flex-direction: column;
 //   justify-content: space-between;
 //   width: 50px;
 //   height: 50px;
 //   border: solid 0.5px #000;
 //   border-radius: 50%;
 //   margin-bottom: 20px;
 //   transition: all 0.2s ease-in-out;
 //   cursor: pointer;
 //  }

 //  .mochas:hover {
 //   transform: scale(1.3);
 //  }
 // }

 .card-container>div.card-1-3 {
  width: 33.3%;
  padding-top: 33.3%;
 }

 .card-container>div {
  margin-right: 40px;
 }

 .card-container>div {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
 }
}

// Producys

.product-list {
 margin-top: -5rem;
}

// Blog
.crimbo-info {
 display: block;
 width: 75%;
 margin: 5rem auto;
}

@media only screen and (max-width: 600px) {
 body {
  overflow-x: hidden;
 }

 #header {
  padding: 20px 0;
  padding-bottom: 20px;
  padding-bottom: 0;
  width: 600px !important;
  // height: 50px;
  background-color: #1d1d1d;
  position: relative;
  left: -45px;
  margin-bottom: 8rem;
 }

 .nav {
  text-align: center;
 }

 .logo {
  width: 20% !important;
  position: relative;
  top: -10px;
 }

 #header .logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 4rem;
  z-index: 1;

 }

 .menu {
  background: #1d1d1d;
  width: 100%;
  height: 330px;
  margin-bottom: 50px;
 }

 .cl-effect-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  text-align: center;
  color: white;
  position: relative;
  right: 12rem;
  top: -30px;
  z-index: 1;
 }

 #header .menu nav a {
  // display: none;
  // margin: 15px 25px;
  // outline: none;
  color: #fff;
  // text-decoration: none;
  // text-transform: uppercase;
  // letter-spacing: 1px;
  // font-weight: 400;
  // text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  // font-size: 1em;
 }

 .menu-icon {
  display: block !important;
  font-size: 20px;
  position: absolute;
  right: 25%;
  top: 0.88rem;
  color: #fcfcfc;
 }

 .menu.collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &.is-expanded {
   overflow: hidden;
   max-height: 380px;
   position: relative !important;
   top: 27px !important;
   /* approximate max height */
   -moz-transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
  }
 }

 #header .menu .cl-effect-14 a::before,
 #header .menu .cl-effect-14 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #f0f0f0;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
  pointer-events: none;
 }

 // Content area
 #content-area {
  position: relative;
  top: 100px;
 }

 #content-area .insider {
  margin: 0;
 }

 #content-area .info .size .sizes li.circle {
  margin-bottom: 20px;
 }

 // .mocha-icons {
 //  display: inline-flex;
 //  width: 100% !important;
 //  justify-content: space-between;
 //  border: none !important;
 //  position: relative !important;
 //  top: 46px !important;
 //  margin-bottom: 50px;
 // }

 #content-area .info .action-btns .lightgrey-btn {
  top: 20px !important;
  left: 0 !important;
 }
}